:host {
        .btn-primary{
                max-width: 40px;
                height: 40px;
        }
        .btn-outline-primary{
                margin-left: 16px;
        }
        p{
                padding-bottom: none
        }
        .item-list{
                padding-top: 30px;
        }
        .search{
                min-width: 400px;
        }
}