<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-md-5 mb-3">
        <h5>Subscribe Up To Our Newsletter</h5>
        <p>Be the first to hear about the latest offers</p>
      </div>


      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-5 col-md-2 mb-3">
        <h5>Information</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Zip</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy Policy</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tearms</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Newsletter Subscription</a></li>
        </ul>
      </div>
      <div class="col-5 col-md-2 mb-3">
        <h5>Address</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Address: Ho Chi Minh City</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Phone: (+84) 395058298</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Email: chikhiemkm9198@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>