<ngx-spinner name="primary" type="custom">
        <div class="spinner-box">
            <div class="spinner-content"></div>
            <div class="spinner-message"></div>
        </div>
    </ngx-spinner>
    <ngx-spinner name="loading" type="custom">
        <div class="spinner-box">
            <div class="spinner-content"></div>
            <div class="spinner-message">Loading, please wait...</div>
        </div>
    </ngx-spinner>
    <ngx-spinner name="submmit" type="custom">
        <div class="spinner-box">
            <div class="spinner-content"></div>
            <div class="spinner-message"> Working on it...</div>
        </div>
    </ngx-spinner>
    <ngx-spinner name="create" type="custom">
        <div class="spinner-box">
            <div class="spinner-content"></div>
            <div class="spinner-message">Creating request...</div>
        </div>
    </ngx-spinner>
    <ngx-spinner name="export" type="custom">
        <div class="spinner-box">
            <div class="spinner-content"></div>
            <div class="spinner-message">Exporting...</div>
        </div>
    </ngx-spinner>
    <ngx-spinner name="moving" type="custom">
        <div class="spinner-box">
            <div class="spinner-content"></div>
            <div class="spinner-message">Moving to report configuration step...</div>
        </div>
    </ngx-spinner>
    <ngx-spinner name="submitRequest" type="custom">
        <div class="spinner-box">
            <div class="spinner-content"></div>
            <div class="spinner-message">Submitting your request...</div>
        </div>
    </ngx-spinner>
    <ngx-spinner name="delete" type="custom">
        <div class="spinner-box">
            <div class="spinner-content"></div>
            <div class="spinner-message">Deleting...</div>
        </div>
    </ngx-spinner>
    <ngx-spinner name="navigate" type="custom">
        <div class="spinner-box">
            <div class="spinner-content"></div>
            <div class="spinner-message">Navigating...</div>
        </div>
    </ngx-spinner>